<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/"><img class="img-fluid" style="height: 40px;" src="assets/images/Covid_Logo.png"
      alt="logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active" routerLinkOptions="{exact: 'true'}">Dashboard<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/country" routerLinkActive="active">Country</a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" [(ngModel)]="searchValue" type="search" placeholder="Search Country"
        aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" (click)="searchCountry()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
          <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>
      </button>
    </div>
  </div>
</nav>

<div style="margin-top:'10vh';" *ngIf="searchValue.length > 0 && searchResult" class="container">
  <div class="card text-center">
    <div class="card-header">
      <h3>{{searchedCountry}}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div *ngIf="searchResult.confirmed" class="col">
          <div class="alert alert-primary" role="alert">
            <p>Confirmed: {{searchResult.confirmed.value}}</p>
          </div>
          <div class="alert alert-success" role="alert">
            <p>Recovered: {{searchResult.recovered.value}}</p>
          </div>
          <div class="alert alert-danger" role="alert">
            <p>Deaths: {{searchResult.deaths.value}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <p>Last Updated: {{searchResult.lastUpdate}}</p>
    </div>
  </div>
</div>

<!-- <div class="container">
  <hr>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div> -->