<div class="container-fliud">
    <div class="row">
        <div class="col" id="header">
            <h3 class="display-3">Global COVID19 Data</h3>
            <button title="Refresh Data" class="btn btn-outline-primary" id='refreshBtn' (click)="onClickRefresh()">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                    <path
                        d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                </svg>
            </button>
            <p><small>(COVID data provided by https://covid19.mathdro.id/api)</small></p>
            <p><small>Last Updated: {{timestamp | date:'full'}}</small></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-deck">
                <div class="card mb-3 text-center" [ngClass]="[img.txt, img.bg]" *ngFor="let img of imageData">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src={{img.src}} class="card-img img-fluid" alt={{img.alt}}>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h2 class="card-title">{{img.number}}</h2>
                                <p class="card-text">{{img.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <!-- <div class="card-deck">
                <div class="card text-center" *ngFor="let img of imageData">                    
                    <div class="card-header">{{img.name}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{img.number}}</h5>
                    </div>
                    <img src={{img.src}} class="card-img-bottom img-fluid" alt={{img.alt}}>
                </div>
            </div> -->